﻿@model CubeSummationEntities.CubeSummationResult
@{
    ViewBag.Title = "Index";
}
<form method="post">
    <div class="container">
        <div class="row">
            <h1 style="text-align: center">Cube Summation</h1>
        </div>
        
        <div class="row">
            <div class="col-sm-6">
                <h3>Ingresa el input:</h3>
                <textarea name="input" id="input" cols="40" rows="5"></textarea><br>
                <input type="submit" value="Run cube summation" class="btn btn-default" />
                <p style="color: red" name="error" id="error">
            </div>


            @if (Model != null)
            {
                <div class="col-sm-6">
                    <h3>Result:</h3>                  
                    @foreach (var item in Model.OperationsResults)
                    {
                        <div>@item<hr /></div>
                    }

                </div>
            }
        </div>

    </div>
</form>