﻿@model IEnumerable<Domain.League>

@{
    ViewBag.Title = "Index";
}

<h2>Leagues</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Logo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Logo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LeagueId }) |
            @Html.ActionLink("Details", "Details", new { id=item.LeagueId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.LeagueId })
        </td>
    </tr>
}

</table>
